# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Engine/EvilDrone_Diff.dds
Engine/EvilDrone_Diff.jpg
*.tlog
*.db
*.opendb
*.db-wal
*.res
*.exp
*.exp
*.log
*.ilk
*.manifest
*.ipch
*.pdb
*.idb
*.recipe
*.vcxproj
*.png
*.vcxproj
*.filters
*.jpg
*.jpg
*.rc
*.jpg
*.ini
*.jpg
Engine/.vs/DirectXTKSimpleSample_2015/v16/.suo
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.vcxproj.FileListAbsolute.txt
Engine/DirectXTKSimpleSample_2015.vcxproj
Engine/DirectXTKSimpleSample_2015.vcxproj.filters
Engine/flashPerlin.jpg
Engine/imgui.ini
Engine/tree.mtl
*.vcxproj
Engine/DirectXTKSimpleSample_2015.vcxproj
Engine/DirectXTKSimpleSample_2015.vcxproj.filters
Engine/flashPerlin.jpg
Engine/imgui.ini
*.filters
*.vcxproj
*.jpg
*.ini
*.db-shm
*.vcxproj
*.filters
